head
    link(href="https://static02.spblegalforum.com/cm/lf/js/jquery/themes18/redmond/jquery.ui.all.css" rel="stylesheet")
    link(href="https://static02.spblegalforum.com/cm/lf/new/css/bootstrap.min.css" rel="stylesheet")
    link(href="https://static02.spblegalforum.com/cm/lf/new/css/bootstrap-custom.css" rel="stylesheet")
    link(href="https://static02.spblegalforum.com/cm/lf/new/js/jquery/1.11.2/jquery-ui.min.css" rel="stylesheet")
    link(href="https://spblegalforum.com/cm/userfiles/file/site/cookies-policy.css" rel="stylesheet")
    link(href="https://static02.spblegalforum.com/cm/lf/new/js/fancybox/source/jquery.fancybox.css" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="style.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="utf-8")
    meta(name="description" content="")
    meta(property="og:title" content="Программа — ПМЮФ 2021. Петербургский Международный Юридический Форум")
    meta(property="og:description" content="")
    meta(property="og:image" content="images/socials-cover.jpg")
    meta(property="og:locale" content="ru_RU")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://spblegalforum.ru/ru")
    link(rel="icon" href="favicon.ico")
    title
        | Программа — Петербургский международный юридический форум 9¾