section.main__hero-screen.hero-screen
    h1.visually-hidden
        | Legal Forum 9¾
    .hero-screen__wrapper
        .hero-screen__heading-wrapper
            img.hero-screen__heading(src="images/h1.svg", width="948" alt="LegalForum 9¾")
        .hero-screen__info
            h2.hero-screen__date
                | 18–22 мая
            h2.hero-screen__online
                | ONLINE