section.main__channels.channels.channels--player
    a.channels__channel(href="#")
        span.channels__name
            | Канал 1
    a.channels__channel.channels__channel--locked(href="#")
        span.channels__name
            | Канал 2
    a.channels__channel.channels__channel--locked(href="#")
        span.channels__name
            | Канал 3
    a.channels__channel.channels__channel--current(href="#")
        span.channels__name    
            | Канал 4