section.main__program.kontainer.kontainer--wide
    .main__program__heading
        | Программа
    include channels.pug
    .main__schedule
        include schedule.pug
    a.main__program__show-more-button.show-more-button.button.button--gold(href="#")
        | Вся&nbsp;программа