section.main__partners.partners
    h2.partners__heading
        | Партнеры
    .partners__arrows.slider-arrows
        .slider-arrows__arrow#partners__arrow--prev
        .slider-arrows__arrow.slider-arrows__arrow--reversed#partners__arrow--next
    .partners__kontainer
        .partners__partner
            img(src="images/partner--.png", width="137", height="47", alt="")
        .partners__partner
            img(src="images/partner--.png", width="137", height="47", alt="")
        .partners__partner
            img(src="images/partner--.png", width="137", height="47", alt="")
        .partners__partner
            img(src="images/partner--.png", width="137", height="47", alt="")
        .partners__partner
            img(src="images/partner--.png", width="137", height="47", alt="")
        .partners__partner
            img(src="images/partner--.png", width="137", height="47", alt="")
        .partners__partner
            img(src="images/partner--.png", width="137", height="47", alt="")
        .partners__partner
            img(src="images/partner--.png", width="137", height="47", alt="")                            
    a.partners__show-more-button.button.button--gold(href="#")
        | Все&nbsp;партнеры