section.main__speakers.speakers
    .speakers__wrapper
        h2.speakers__heading
            | Спикеры
        .speakers__arrows.slider-arrows 
            .slider-arrows__arrow#speakers__arrow--prev
            .slider-arrows__arrow.slider-arrows__arrow--reversed#speakers__arrow--next
        .speakers__kontainer
            a.speakers__speaker(href="#")                
                .speakers__photo
                    img(src="images/speaker-001.jpg", width="157" height="210")
                .speakers__speaker-container
                    .speakers__name
                        | Дмитрий Медведев
                    .speakers__description
                        | Заместитель Председателя Совета Безопасности Российской Федерации
            a.speakers__speaker(href="#")                
                .speakers__photo
                    img(src="images/speaker-002.jpg", width="157" height="210")
                .speakers__speaker-container
                    .speakers__name
                        | Евгений Акимов
                    .speakers__description
                        | Управляющий директор – Начальник Управления принудительного взыскания и банкротства, ПАО Сбербанк, Российская Федерация
            a.speakers__speaker(href="#")                
                .speakers__photo
                    img(src="images/speaker-003.jpg", width="157" height="210")
                .speakers__speaker-container 
                    .speakers__name
                        | Елена Борисенко
                    .speakers__description
                        | Заместитель Председателя Правления, Газпромбанк (Акционерное общество), Российская Федерация
            a.speakers__speaker(href="#")                
                .speakers__photo
                    img(src="images/speaker-001.jpg", width="157" height="210")
                .speakers__speaker-container    
                    .speakers__name
                        | Дмитрий Медведев
                    .speakers__description
                        | Заместитель Председателя Совета Безопасности Российской Федерации
            a.speakers__speaker(href="#")                
                .speakers__photo
                    img(src="images/speaker-002.jpg", width="157" height="210")
                .speakers__speaker-container     
                    .speakers__name
                        | Евгений Акимов
                    .speakers__description
                        | Управляющий директор – Начальник Управления принудительного взыскания и банкротства, ПАО Сбербанк, Российская Федерация
            a.speakers__speaker(href="#")                
                .speakers__photo
                    img(src="images/speaker-003.jpg", width="157" height="210")
                .speakers__speaker-container
                    .speakers__speaker-container 
                        .speakers__name
                            | Елена Борисенко
                        .speakers__description
                            | Заместитель Председателя Правления, Газпромбанк (Акционерное общество), Российская Федерация
        a.speakers__show-more-button.button.button--gold(href="#")
            | Все&nbsp;спикеры