section.main__today.today.kontainer.kontainer--wide
    h2.today__heading
        | Смотрите сегодня
    ul.today__events
        li.today__event
            a.today__link(href="#")
                p.today__time
                    | 11:30
                p.today__description 
                    | Правовые вопросы блокировки и&nbsp;ограничения деятельности онлайн медиа и&nbsp;социальных сетей
        li.today__event
            a.today__link(href="#")
                p.today__time
                    | 11:30
                p.today__description 
                    | Правовые вопросы блокировки и&nbsp;ограничения деятельности онлайн медиа и&nbsp;социальных сетей
        li.today__event
            a.today__link(href="#")
                p.today__time
                    | 11:30
                p.today__description 
                    | Правовые вопросы блокировки и&nbsp;ограничения деятельности онлайн медиа и&nbsp;социальных сетей
        li.today__event
            a.today__link(href="#")
                p.today__time
                    | 11:30
                p.today__description 
                    | Правовые вопросы блокировки и&nbsp;ограничения деятельности онлайн медиа и&nbsp;социальных сетей